.oursevice-wrapper{
    background-color: #FFFFFF;
    margin-top: 4rem;
    .service-container{
        h2{
            font-size: 3.5rem;
            text-align: center;
            color: rgb(117, 116, 116);
            text-transform: uppercase;
            letter-spacing: 0.6rem;
            font-family: "Poppins";
            @media screen and (max-width:768px){
                font-size:1.8rem;
            }
        }
        // p{
        //     text-align: center;
        //     font-size: 1.4rem;
        //     margin-top: 2rem;
        //     color: #011F5F;
        // }
       .service-icon{
        width: 95%;
        margin: 0rem auto;
        display: flex;
        // display: grid;
        // grid-template-columns: repeat(4,1fr);
        justify-content: center;
        // flex-wrap: wrap;
        gap: 5rem;
        padding: 4rem 0;
        @media screen and (max-width:768px){
            display: flex;
            flex-wrap: wrap;
        }
     
        div{
            background-color: rgb(255, 255, 255);
            padding: 6rem 0.5rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            transition: all 0.5s;
            cursor: pointer;
            @media screen and (max-width:620px) {
                 padding: 0.8rem;

            }
            &:hover{
                box-shadow: 0 0 15px rgb(180, 177, 177);
            }
            .icon{
                color: #ffffff;
                // background:linear-gradient(#5b72f4,rgb(252, 95, 122));
                // background: linear-gradient(rgb(201, 133, 6),rgb(249, 249, 154),rgb(118, 114, 114));
                background-color: rgb(233, 171, 55);
                background-color: #011F5F;
               border-radius: 10px;
                font-size: 5rem;
            }
            h3{
                font-size: 1.8rem;
                margin: 2rem;
                font-family: "Agbalumo";
                font-weight: 400;
                letter-spacing: 0.2rem;
                // color: #011F5F;
                // color: rgb(0, 0, 0);
                color: #c0762d;
                text-align: center;
            }
            p{
                font-size: 1rem;
                margin-top: 0.1rem;
            }
        }
     
       }
    }
}