.assistant{
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    h2{
        text-align: center;
        font-size: 8vw;
        text-transform: uppercase;
        letter-spacing: 0.2rem;
        background: linear-gradient(120deg,rgb(53, 168, 216),#e1b525);
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
    }


}