.create-video-container{
    background-color: rgb(251, 251, 251);
    min-height: 600px;
    padding: 1.2rem 0;
    form{
      width: 85%;
      margin: auto;
      display: flex;
      flex-direction: column;
      gap: 3rem;
      padding: 1.2rem;
      h2{
        text-align: center;
        font-size: 2.6rem;
        text-transform: uppercase;
        letter-spacing: 0.5rem;
      }

       .form-text-field{
              display: flex;
              gap: 2rem;

              input,textarea,select{
                width: 100%;
                outline: none;
                padding: 1rem 1.6rem;
                border: 2px solid rgb(197, 196, 196);
                border-radius: 4px;
                resize: none;
                option{
    
                    font-size: 1.5rem;
                    color: rgb(86, 86, 86);
                }
              }
        }
        .btn-container{
            button{
              padding: 1rem 2rem;
              outline: none;
              border: none;
               background-color: #629D7B;   
               color: white;
               font-size: 1.4rem;      
               border-radius: 2px;   
               cursor: pointer;  
            }
        }
    }


    .video-wrapper{
        display: flex;
        justify-content: center;
        row-gap: 8rem;
        column-gap: 4rem;
        flex-wrap: wrap;
        margin-top: 2.5rem;
        h3{
          font-size: 3rem;
          letter-spacing: 0.8rem;
           color: rgb(131, 127, 127);
           animation: paraanimie 4s linear infinite alternate;
           @keyframes paraanimie {
                  0%{
                      opacity: 0.4;
                      transform: scale(1);
                  }
                  100%{
                      opacity: 1;
                      transform: scale(1.1);

                  }
           }
        }
       .video-item{
          width: 350px;
          height: 200px;
          background-color: rgb(251, 235, 235);
          video{
            width: 100%;
            height: 100%;
          }
          .btn-container{
            display: flex;
            justify-content: center;
            margin-top: 1rem;
            button{
              padding: 0.6rem 2rem;
              outline: none;
              border: none;
               background-color: #629D7B;   
               color: white;
               font-size: 1.2rem;      
               border-radius: 2px;   
               cursor: pointer;  
            }
        }
       }
    }
}
