.carasouel{
    background-color: rgb(252, 252, 252);
    padding: 5rem 0;
    .video-slide{
        background-color: rgb(255, 254, 254);
        background-color: rgb(234, 168, 127);

        width: 400px;
        margin: auto;
        video{
            width: 100%;
            height: 250px;
        }
    }
}
